@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default cursor globally */
* {
  cursor: none !important;
}

::-webkit-scrollbar-track {
  background: #111;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}